*{
    margin: 0;
    box-sizing: border-box;
}

body{  
    padding-top: 100px;
    font-style: italic;
    background-color: #0d0233;
    display: flex;
    align-items: center;
    flex-direction: column;

}


h1{
    color: #6eaebe;
    font-size: 50px;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

form> label{
    color: #6eaebe;
    font-size: 10px;
    margin-bottom: 10px;
}
form > input[type="password"]{
    width: 500px;
    padding: 10px;
    margin: 40px 0;
    border: 2px solid #000000;
    border-radius: 80px;
    font-size: 26px; 
    
}

form > input[type="submit"]{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    font-size: 20px;
    width: 200px;
    cursor: pointer;
}

.fa-solid,
.fa-right-from-bracket{
    font-size: 40px;
    margin-right: 1400px;
     color: rgb(132, 121, 191);
    padding: auto;
}
