*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-style: italic;
    background-color: #0d0233;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

h1{
    font-size: 4rem;
    margin-bottom: 20px;
    color: #7d72c4;
    text-shadow: 2px 2px 4px #000000;
}

h2{
    padding-top: 10px;
    font-size: 2rem;
    margin-bottom: 20px;
}

.btn{
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50px;
}
.btn:hover{
    background-color: #765ec6;
}